---
import "../styles/global.css";
import { ViewTransitions } from 'astro:transitions';
const { frontmatter } = Astro.props;

const baseUrl = "https://github.com/markokroselj/vnn/tree/main/src/pages";
const urlToAdd = frontmatter.url ? frontmatter.url + ".md" : "/index.md";
const githubPageUrl = baseUrl + urlToAdd;
const allPages = await Astro.glob("../pages/*.{mdx,md}");
---

<!DOCTYPE html>
<html lang="si">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Varstvo pred naravnimi in drugimi nesrečami"
		/>
		<meta name="author" content="Marko Krošelj" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="keywords"
			content="VNN,požar,poplava,potres,plaz,nus,varstvo"
		/>
		<link rel="icon" type="image/svg+xml" href="/naslovna_slika.gif" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
		<ViewTransitions />
	</head>
	<body>
		<header>
			<div id="logo"><img src="/logo.webp" alt="Vnn logotip" /></div>
			<nav id="top-nav">
				<a href="/">Domov</a>
				<a href="http://wap.sos112.si/Dogodek">sos</a>
				<a href="https://spin3.sos112.si/javno/zemljevid">spin-grafični prikaz dokodkov</a>				
				<a href="https://meteo.arso.gov.si/met/sl/weather/observ/radar/">radarska slika padavin</a>
			</nav>
		</header>
		<nav id="main-nav">
			<ul>
				{
					allPages.map((item) =>
					 	item.frontmatter["title"] == undefined ||
						item.url.includes("404") ||
						item.url.includes("index") ||
						item.url.trim() == "" ? null : (
							<li>
								<a href={item.url}>
									{item.frontmatter["title"].toLowerCase()}
								</a>
							</li>
						)
					)
				}
			</ul>
		</nav>
		<main>
			<slot />
		</main>
		<footer>
			<p>
				<a href={githubPageUrl} target="_blank">Uredi stran</a>
				Vnn copyright&copy 2016-2023 by <a
					href="http://www.markokroselj.com/"
					>Marko Krošelj
				</a>
			</p>
		</footer>
	</body>
</html>
